body {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background: #072838;
	color: #fff;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
	min-width: 320px;
	overflow-x: hidden;
}

#app h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 300; 
	color: orange;
}

#app h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #ef2f98;
}

#app p {
	margin: 1em 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500; 
	line-height: 20px;
}

.margin-backgroundinfo {
	margin-top: 2em !important;
}

#app ul {
	margin: 2em 0;
	padding-left: 0em;
	font-size: 13px;
}

#app ul li {
	margin: 1em 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500; 
	line-height: 18px;
}

#app button {
	/* display: inline-block; */
	position: relative;
	margin: 1.2em 0;
	padding: .4em .8em;
	border: 1px solid #fff;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #fff;
	background-color: #072737;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 1s;
	opacity: 0.9;
}

#app button:hover {
	background-color: #1E448A;
	opacity: 1;
}

#app button .btn-icon {
	color: orange;
}

.questions-info-link {
	text-decoration: none;
	font-size: 14px;
	color: #ef2f98;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.questions-info {
	display: none;
}

.questions-info.show-more-info {
	display: block;
}

footer {
	background-color: #223645;
	margin: 0;
	padding: 0;
}

	footer p {
		color: #fff;
		margin: 0;
		padding: 1em 40px 1em;
		font-size: 16px;
	}

		footer a {
			max-width: 120px;
			max-height: 80px;
			margin: 0;
			padding: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			transform: scale(0.8);
			opacity: .9;
		}

		footer a:hover {
			opacity: 1;
			transform: scale(0.9);
			z-index: 5;
			transition: opacity .5s, transform .5s, background-color .5s, filter .5s;
		}

		footer img {
			max-width: 60px;
			vertical-align: middle;
		}

	footer .copyright-notice {
		font-size: 13px;
		color: #ccc;
		padding-bottom: 2em;
	}

		footer .copyright-notice a {
			color: #ddd;
		}

.more-info-button {
	color: #fff;
	background-color: #1E448A;
	text-decoration: none;
	padding: 0.2em 0.2em !important;
	margin: 10px 0 !important;
	white-space: nowrap;
	opacity: 0.9;
	font-size: 1em !important;
}

	.more-info-button:hover {
		color: #fff;
		background-color: #1E448A;
		opacity: 1;
	}

	.less-info-button {
		color: #fff;
		background-color: #1E448A;
		text-decoration: none;
		padding: 0.2em 0.2em !important;
		margin: 10px 0 !important;
		white-space: nowrap;
		font-size: 1em !important;
		opacity: 0.9;
		display: none;
	}

	.less-info-button:hover {
		color: #fff;
		background-color: #1E448A;
		opacity: 1;
	}

.noscript-message {
	color: #f00;
}

.comparison-wrapper {
	margin-top: 1.5em;
}

.blockquote-color {
	color: gray;
}

.image-margin {
	margin: 2em 0em 0em 2em;
}

.donut-chart-margin {
	margin: 1.5em 0 1.5em 0;
}

@media (max-width: 959px) { 
	.wrapper {
		margin-top: 3em;
	}

	header {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		height: 3em;
	}
	
	#logo {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 3em;
		width: 50vw;
		cursor: pointer;
	}
	
	#logo::after {
		display: block;
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		height: 3em;
		width: 60vw;
		background: url(../images/logo.svg) left top no-repeat;
		background-size: contain;
	}

	#burger {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		line-height: 1.5em;
		font-size: 2em;
		color: #fff;
		text-decoration: none;
	}

	.logo {
		background-position: center;
		background-repeat: repeat;
		background-size: contain;
		background-color: #072838;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23223645' fill-opacity='0.58' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
		min-height: 3.5em;
	}

	#menu {
		font-family: "Raleway", sans-serif;
		display: block;
		position: absolute;
		top: 3.5em;
		left: 0;
		right: 0;
		background-color: #223645;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: height .5s, opacity .2s;
	}
	
		.show-menu #menu {
			height: max-content;
			opacity: 1;
			z-index: 10;
		}
	
		#menu ul {
			display: block;
			position: relative;
			margin: 0;
			padding: 1em 2em 2em;
			list-style: none;
		}

		#menu ul li {
			display: block;
			position: relative;
		}

		#menu ul li a {
			display: block;
			position: relative;
			height: 34px;
			line-height: 34px;
			text-decoration: none;
			color: #fff;
			background-color: transparent;
			padding: 0 .4em;
			transition: background-color .5s;
		}
	
	#intro {
		display: block;
		position: relative;
		min-height: 100vh;
		padding: 1em 2em;
	}
	
	#intro img {
		width: 90%;
		margin: 2em auto 0;
		max-width: 400px;
	}

	#intro a {
		color: #ef2f98;
		text-decoration: none;
	}
	
	#questionnaire {
		display: block;
		position: relative;
		min-height: 100vh;
		padding: 1em 2em;
		margin-bottom: 5em;
	}
	
	
	.question-wrapper {
		width: 100%;
		margin: 2em -10px;
		padding: 10px 10px;
		min-height: 300px;
		background-color: rgba(0, 0, 0, 0.04);
	}

	.question-title {
		left: 20px;
		right: 20px;
		bottom: 40%;
	}

	.question-big-number {
		display: none;
	}

	.question-label {
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		color: #1E448A;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.question-small-number {
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size: 1.2em;
		color: #1E448A;
		margin-right: .25em;
	}
	
	.questions-info-link {
		color: #ef2f98;
		text-decoration: none;
	}

	.radio-button-wrapper {
		margin-top: 2em;
	}

		.radio-button-group {
			display: inline-block;
			position: relative;
			width: 32%;
			max-width: 100px;
			height: 45px;
			margin: 0;
			padding: 0;
		}
	
			.radio-button-group input {
				display: none;
			}

			.radio-button-group label {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
				background-position: top center;
				background-size: 30px;
				background-repeat: no-repeat;
				background-image: url(../images/radio_darkgray.svg);
				transition: background-image .5s;
			}
		
			.radio-button-group input:checked[value="2"]+label {
				background-image: url(../images/radio_ja.svg);
			}
		
			.radio-button-group input:checked[value="1"]+label {
				background-image: url(../images/radio_teils.svg);
			}
		
			.radio-button-group input:checked[value="0"]+label {
				background-image: url(../images/radio_nein.svg);
			}
		
			.radio-button-group-label {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				font-family: "Open Sans", sans-serif;
				font-weight: 300;
				font-size: 11px;
				text-align: center;
				line-height: 1em;
			}	

	#comparison {}

		#comparison ol {
			display: block;
			position: relative;
			margin: 3em 0;
			padding: 0;
			list-style: none;
		}

		#comparison ol li {
			display: block;
			position: relative;
			margin: 18px 0;
			padding: 0;
			list-style: none;
			line-height: 18px;
		}
	
		#comparison ol li h4 {
			display: block;
			width: 80px;
			margin: 0;
			padding: 0;
			line-height: 13px;
			font-size: 13px;
			font-family: "Open Sans", sans-serif;
			font-weight: 500;
		}
	
		#comparison ol li p {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 80px;
			margin: 0;
			padding: 0;
			line-height: 14px;
			font-size: 14px;
			height: 14px;
			background-color: #D3D3D3;
		}
	
		#comparison ol li p .percentage-bar {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: #ef2f98;
			line-height: 14px;
			margin: 0;
			padding: 0;
		}

		#comparison ol li p .percentage-label {
			display: block;
			position: absolute;
			left: 1em;
			top: 0;
			bottom: 0;
			color: #fff;
			line-height: 14px;
			font-size: 13px;
			font-family: "Open Sans";
			font-weight: 500;
			margin: 0;
			padding: 0;
		}

		#comparison ol li .person {
			display: block;
		}

		#comparison a {
			color: #ef2f98;
			text-decoration: none;
		}

	#detail {}
	
		#detail .detail-table {
			display: block;
			position: relative;
			margin: 2em 0;
			padding: 0;
			list-style: none;
		}
	
		#detail .detail-table h3 {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 21px;
			line-height: 24px;
			margin: 0;
			padding: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		#detail .detail-table h3 span {
			display: inline-block;
			font-family: "Open Sans", sans-serif;
		}
	
		#detail .answers {
			display: block;
			position: relative;
			margin: 2em 0;
			padding: 0;
			list-style: none;
		}

		#detail .answers .answer {
			display: block;
			position: relative;
			margin: 10px -10px;
			padding: 10px;
			box-shadow: 0 0 0 1px #f0f2f4 inset;
		}
	
		#detail .answers .answer.selected {
			box-shadow: 0 0 0 1px #1E448A inset;
		}

		#detail .answers .answer.selected .you {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		
			margin: 0;
			padding: 0 10px;
		
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			font-family: "Raleway", sans-serif;
			font-weight: 700;
		
			background-color: #1E448A;
			color: #fff;
			
			border-bottom-left-radius: 3px;
		}
	
		#detail .answers .answer h4 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-family: "Open Sans", sans-serif;
			font-size: 13px;
			font-weight: 500; 
			line-height: 20px;
			padding-left: 27px;
			background-position: left center;
			background-size: 20px;
			background-repeat: no-repeat;
		}
	
		#detail .answers .answer h4.type-2 {
			background-image: url(../images/radio_ja.svg);
		}
		
		#detail .answers .answer h4.type-1 {
			background-image: url(../images/radio_teils.svg);
		}
		
		#detail .answers .answer h4.type-0 {
			background-image: url(../images/radio_nein.svg);
		}

		#detail .answers .answer blockquote,
		#detail .answers .answer p {
			display: none;
			opacity: 0;
			transition: .5s opacity;
		}
		
		
		#detail .parties {
			display: block;
			position: relative;
			margin: 0;
			padding: 15px 0 10px;
			list-style: none;
		}

		#detail .parties .party {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
		}
		
		#detail .parties .party.no-party {
			font-size: .8em;
			text-align: center;
		}
	
		#detail .parties .party h5 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-size: 1em;
			line-height: 1.6em;
			font-family: "Open Sans", sans-serif;
			font-weight: 500;
		}


	#dom {
		margin: 5em 2em;
	}

		#dom a {
			color: #ef2f98;
			text-decoration: none;
		}

		#dom ul {
		    list-style-position: inside;
		}
		
	#orgs {
		margin: 5em 2em;
	}
	
		#orgs .org {
			display: block;
			margin: 1em 0 3em;
			position: relative;
			padding: 0;
		}

		#orgs .org h3 {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			font-family: "Raleway", sans-serif;
			font-size: 21px;
			line-height: 24px;
			font-weight: 300;
		}
	
		#orgs .org h3 a {
			color: #ef2f98;
			text-decoration: none;
		}

		#orgs .org p a {
			color: #ef2f98;
			text-decoration: none;
		}
	
		#orgs .org img {
			display: block;
			position: relative;
			max-width: 50%;
			margin: 1em 0;
		}
	
	#impressum {
		margin: 5em 2em;
	}
	
		#impressum a {
			color: #ef2f98;
			text-decoration: none;
		}
	
	#privacy {
		margin: 5em 2em;
	}
	
		#privacy h3 {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 18px;
			line-height: 22px;
			color: #ef2f98;
			margin: 1em 0 .5em;
			padding: 0;
		}
	
		#privacy a {
			color: #1E448A;
			text-decoration: none;
		}
	
	footer {
		margin-top: 3em !important;
	}
		
	footer .orgs a {
		width: 30vw !important;
		height: 20vw !important;
	}
}

@media (max-width: 520px) {	
	#header #logo::after {
		display: block;
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		height: 3em;
		width: 60vw;
		background: url(../images/logo.svg) left center no-repeat;
		background-size: contain;
	}
}

@media (min-width: 960px) {
	header {}
	
		header p {
			display: none;
		}
	
		#burger {
			display: none;
		}

		.logo {
			background-color: #072838;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23223645' fill-opacity='0.58' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: repeat;
			background-size: contain;
			min-height: 5em;
		}

		#menu {
			display: block;
			position: relative;
			margin: 0;
			padding: 0px 40px;
			min-height: 35px;
			background-color: #223645;
		}
	
			#menu p {
				display: block;
				position: relative;
				float: left;
				margin: 0;
				padding: 0;
				line-height: 35px;
				min-height: 35px;
				font-family: "Raleway", sans-serif;
				font-size: 14px;
				color: #bfe9f3;
			}
		
			#menu ul {
				display: block;
				position: relative;
				margin: 0 -.4em;
				padding: 0;
				min-height: 35px;
				line-height: 35px;
				list-style: none;
				text-align: right;
				float: right;
				font-size: 14px;
			}
	
			#menu ul li {
				display: block;
				position: relative;
				float: left;
				font-family: "Raleway", sans-serif;
				font-size: 16px;
			}

			#menu ul li a {
				display: block;
				position: relative;
				height: 35px;
				line-height: 35px;
				text-decoration: none;
				color: #fff;
				background-color: transparent;
				padding: 0 0.6em;
				transition: background-color .4s;
			}

			#menu li a:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		
			#menu::after {
				display: block;
				content: " ";
				clear: both;
			}
	
		#logo {
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			cursor: pointer;
		}

		#logo::after {
			display: block;
			content: "";
			height: 3em;
			width: 30vw;
			background: url(../images/logo.svg) left top no-repeat;
			background-size: contain;
		}

	#app {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		padding: 40px 40px 100px;
	}

		#app h2 {
			margin: 0;
			padding: 0;
			font-family: "Raleway", sans-serif;
			font-size: 28px;
			font-weight: 300; 
			line-height: 30px;
			color: orange;
		}
		
		#app p+h2 {
			margin-top: 3em;
		}
	
		#app .app-item { display: none; }
		#app.show-intro #intro,
		#app.show-dom #dom,
		#app.show-orgs #orgs,
		#app.show-impressum #impressum,
		#app.show-privacy #privacy,
		#app.show-questionnaire #questionnaire { display: block; }
	
		#intro {
			margin-bottom: 100px;
		}
		
			#intro .row {
				display: block;
				position: relative;
				width: 50%;
				float: left;
			}

			#intro::after {
				display: block;
				content: " ";
				clear: both;
			}

			#intro a {
				color: #ef2f98;
				text-decoration: none;
			}
		

/* Questions */
		.question-wrapper {
			display: block;
			position: relative;
			width: 100%;
			margin: 4vw 0;
			padding: 0;
			min-height: 75px;
		}
	
		.question-title {
			display: block;
			position: relative;
			margin-right: 320px;
			padding-left: 8vw;
		}
	
		.question-big-number {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 8vw;
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-weight: 300;
			font-size: 56px;
			line-height: .7em;
			color: #fff;
			opacity: 0.5;
		}
	
		.question-label {
			display: block;
			position: relative;
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 21px;
			line-height: 24px;
			color: #1E448A;
			margin: 0;
			padding: 0;
		}
		
		.question-small-number {
			display: none;
		}
		
		.questions-info-link {
			color: #ef2f98;
			text-decoration: none;
		}

		.radio-button-wrapper {
			display: block;
			position: absolute;
			right: 0;
			top: 10px;
			margin: 0;
			padding: 0;
			width: 300px;
		}
	
			.radio-button-group {
				display: block;
				position: relative;
				width: 100px;
				height: 55px;
				margin: 0;
				padding: 0;
				float: left;
			}
		
				.radio-button-group input {
					opacity: 0;
				}

				/*Adding focus styles on the outer-box of the custom radio button*/
				.radio-button-group input:focus+label {
					outline: -webkit-focus-ring-color auto 5px;
				}

				.radio-button-group label {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					cursor: pointer;
					background-position: top center;
					background-size: 30px;
					background-repeat: no-repeat;
					background-image: url(../images/radio_darkgray.svg);
					transition: background-image .5s;
				}
			
				.radio-button-group input:checked[value="2"]+label {
					background-image: url(../images/radio_ja.svg);
				}
			
				.radio-button-group input:checked[value="1"]+label {
					background-image: url(../images/radio_teils.svg);
				}
			
				.radio-button-group input:checked[value="0"]+label {
					background-image: url(../images/radio_nein.svg);
				}
			
				.radio-button-group-label {
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					font-family: "Open Sans", sans-serif;
					font-weight: 300;
					font-size: 12px;
					text-align: center;
					line-height: 1.5em;
				}
		
		#comparison {
			margin: 5em 0;
		}

			#comparison ol {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
			}

			#comparison ol li {
				display: block;
				position: relative;
				margin: 18px 0;
				padding: 0;
				list-style: none;
				line-height: 18px;
			}
		
			#comparison ol li h4 {
				display: block;
				width: 145px;
				margin: 0;
				padding: 0;
				line-height: 18px;
				font-size: 18px;
				font-family: "Open Sans", sans-serif;
				font-weight: 500;
			}
		
			#comparison ol li p {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 150px;
				margin: 0;
				padding: 0;
				line-height: 18px;
				font-size: 18px;
				height: 18px;
				background-color: #D3D3D3;
			}
		
			#comparison ol li p .percentage-bar {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: #ef2f98;
				line-height: 18px;
				margin: 0;
				padding: 0;
			}

			#comparison ol li p .percentage-label {
				display: block;
				position: absolute;
				left: 1em;
				top: 0;
				bottom: 0;
				color: #fff;
				line-height: 18px;
				font-size: 13px;
				font-family: "Open Sans";
				font-weight: 500;
				margin: 0;
				padding: 0;
			}			

			#comparison ol li .person {
				display: block;
			}

			#comparison a {
				color: #ef2f98;
				text-decoration: none;
			}
		
		#detail {}
		
			#detail .detail-table {
				display: block;
				position: relative;
				margin: 2em 0;
				padding: 0;
				list-style: none;
			}
		
			#detail .detail-table h3 {
				display: block;
				position: relative;
				font-family: "Raleway", sans-serif;
				font-weight: 300;
				font-size: 21px;
				line-height: 24px;
				margin: 1.5em 0 0;
				padding: 0;
			}
		
			#detail .detail-table h3 span {
				display: inline-block;
				font-family: "Open Sans", sans-serif;
			}
		
			#detail .answers {
				display: block;
				position: relative;
				margin: 2em 0;
				padding: 0;
				list-style: none;
			}

			#detail .answers .answer {
				display: inline-block;
				position: relative;
				vertical-align: top;
				width: 260px;
				margin: 0;
				padding: 30px 15px 15px;
			}

			#detail .answers .answer.selected .you {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0 15px;
				height: 20px;
				line-height: 20px;
				font-size: 13px;
				font-family: "Raleway", sans-serif;
				font-weight: 700;
				background-color: #1E448A;
				color: #fff;
			}
		
			#detail .answers .answer h4 {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				font-weight: 500; 
				line-height: 20px;
				padding-left: 27px;
				background-position: left center;
				background-size: 20px;
				background-repeat: no-repeat;
			}
		
			#detail .answers .answer h4.type-2 {
				background-image: url(../images/radio_ja.svg);
			}
			
			#detail .answers .answer h4.type-1 {
				background-image: url(../images/radio_teils.svg);
			}
			
			#detail .answers .answer h4.type-0 {
				background-image: url(../images/radio_nein.svg);
			}
			
			#detail .answers .answer blockquote,
			#detail .answers .answer p {
				display: none;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				font-weight: 500; 
				line-height: 18px;
			}
			
		
			#detail .parties {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
			}

			#detail .parties .party {
				display: block;
				position: relative;
			}

			
			#detail .parties .party h5 {
				display: block;
				position: relative;
				margin: .5em 0 0;
				padding: 0;
				line-height: 24px;
				font-size: 18px;
				font-family: "Open Sans", sans-serif;
				font-weight: 500;
			}
			

		#dom {}

			#dom a {
				color: #ef2f98;
				text-decoration: none;
			}

			#dom ul {
		    	list-style-position: inside;
			}

		#orgs {}
		
			#orgs .org {
				display: block;
				position: relative;
				margin: 3em 0;
				padding: 0 0 0 12em;
			}

			#orgs .org h3 {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				font-family: "Raleway", sans-serif;
				font-size: 21px;
				line-height: 24px;
				font-weight: 300;
			}
		
			#orgs .org h3 a {
				color: #ef2f98;
				text-decoration: none;
			}

			#orgs .org p a {
				color: #ef2f98;
				text-decoration: none;
			}
		
			#orgs .org img {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				max-width: 165px;
				margin-top: 3px;
			}
		
		#impressum {}
		
			#impressum a {
				color: #ef2f98;
				text-decoration: none;
			}
		
		#privacy {}
		
			#privacy h3 {
				display: block;
				position: relative;
				font-family: "Raleway", sans-serif;
				font-weight: 300;
				font-size: 18px;
				line-height: 22px;
				color: #ef2f98;
				margin: 1em 0 .5em;
				padding: 0;
			}
		
			#privacy a {
				color: #1E448A;
				text-decoration: none;
			}
